@charset "utf-8";
body {
	font-family: 'メイリオ';
}
rt {
	position:relative;
	top: 6px;
}
.ruby_o {
	display:inline-block;
	overflow:visible;
	height: 16px;
}
.ruby_i {
	display:block;
	overflow:visible;
	position: relative;
	top: -16px;
}
