<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
			<param name="File" value="C:\log\test_site.txt" />
			<param name="AppendToFile" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>

	</log4net>

	<appSettings>
		<add key="TitleName" value="test title" />
		<add key="APNsIsSandbox" value="true" />
		<add key="LvlResponseCodeShouldBe" value="3" />
	</appSettings>
</configuration>