<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titles</key>
	<array>
		<dict>
			<key>id</key>
			<string>miyako</string>
			<key>name</key>
			<string>鄙の姫、宮処の巫女、余所者の嫁</string>
			<key>tags</key>
			<string>小説,ダウンロード,連載中,有料</string>
			<key>lastUpdated</key>
			<date>2013-04-11T04:10:35Z</date>
			<key>baseResourceZipPath</key>
			<string>miyako_base.zip</string>
			<key>purchasedResourceZipPath</key>
			<string>miyako_purchased.zip</string>
			<key>thumbnailPath</key>
			<string>design/left_top.png</string>
			<key>contentHtmlPath</key>
			<string>flowerflower/index.html</string>
			<key>status</key>
			<string>onAir</string>
			<key>type</key>
			<string>flowerflower</string>
			<key>productId</key>
			<string>org.kaoriha.flowerflower.ffios22.miyako</string>
			<key>distributionUrl</key>
			<string>http://kaoriha.org/miyako/</string>
		</dict>
		<dict>
			<key>id</key>
			<string>kanzenhitogata</string>
			<key>name</key>
			<string>完全人型</string>
			<key>tags</key>
			<string>小説,ダウンロード,完結,有料</string>
			<key>lastUpdated</key>
			<date>2012-09-09T12:00:00Z</date>
			<key>baseResourceZipPath</key>
			<string>kanzenhitogata_base.zip</string>
			<key>purchasedResourceZipPath</key>
			<string>kanzenhitogata_purchased.zip</string>
			<key>thumbnailPath</key>
			<string>design/left_top.png</string>
			<key>contentHtmlPath</key>
			<string>flowerflower/index.html</string>
			<key>status</key>
			<string>completed</string>
			<key>type</key>
			<string>fixedInApp</string>
			<key>productId</key>
			<string>org.kaoriha.flowerflower.ffios22.kanzenhitogata</string>
			<key>distributionUrl</key>
			<string>http://kaoriha.org/kanzenhitogata/</string>
		</dict>
		<dict>
			<key>id</key>
			<string>kouchabutton</string>
			<key>name</key>
			<string>紅茶ボタン</string>
			<key>tags</key>
			<string>小説,ダウンロード,完結,有料</string>
			<key>lastUpdated</key>
			<date>2012-01-10T12:00:00Z</date>
			<key>baseResourceZipPath</key>
			<string>kouchabutton_base.zip</string>
			<key>purchasedResourceZipPath</key>
			<string>kouchabutton_purchased.zip</string>
			<key>thumbnailPath</key>
			<string>design/left_top.png</string>
			<key>contentHtmlPath</key>
			<string>flowerflower/index.html</string>
			<key>status</key>
			<string>completed</string>
			<key>type</key>
			<string>fixedInApp</string>
			<key>productId</key>
			<string>org.kaoriha.flowerflower.ffios22.kouchabutton</string>
			<key>distributionUrl</key>
			<string>http://kaoriha.org/kouchabutton/</string>
		</dict>
	</array>
	<key>version</key>
	<string>1</string>
</dict>
</plist>
