<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file type="log4net.Util.PatternString"
					value="%envFolderPath{CommonApplicationData}\\flowerflower\\miyako.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>

	</log4net>

	<appSettings>
		<add key="TitleName" value="miyako" />

		<!-- 
        public static readonly int LICENSED = 0x0;
        public static readonly int NOT_LICENSED = 0x1;
        public static readonly int LICENSED_OLD_KEY = 0x2;
        public static readonly int ERROR_NOT_MARKET_MANAGED = 0x3;
        public static readonly int ERROR_SERVER_FAILURE = 0x4;
        public static readonly int ERROR_OVER_QUOTA = 0x5;
        public static readonly int ERROR_CONTACTING_SERVER = 0x101;
        public static readonly int ERROR_INVALID_PACKAGE_NAME = 0x102;
        public static readonly int ERROR_NON_MATCHING_UID = 0x103;
		
		実運用時には0
		-->
		<add key="LvlResponseCodeShouldBe" value="3" />

		<!--
		実運用時にはtrue
		-->
		<add key="LvlVerifySign" value="false" />
	</appSettings>

	<connectionStrings />

	<system.web>
		<!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
		<compilation debug="true" />
		<!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。
-->
		<authentication mode="Windows" />
		<!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。
        -->

	</system.web>
	<system.webServer>
		<modules>
			<add name="flowerflowerAuthModule" type="FFSite.AuthModule" />
		</modules>
		<security>
			<authentication>
				<!--
					実運用サーバでは下の<windowsAuthentication>セクションをコメントアウトします。
				<windowsAuthentication enabled="true"/>
				-->
					<anonymousAuthentication enabled="false"/>
			</authentication>
		</security>

		<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
			<remove statusCode="404" />
			<error statusCode="404" path="NotFoundError.html" />
			<remove statusCode="500" />
			<error statusCode="500" path="UnknownError.html" />
		</httpErrors>

		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
	</system.webServer>
</configuration>
